html, body {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow: auto;
}

#mapid {
    float: left;
    border:     1px solid #666;
    height:     40em;
    width:      60em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 2px 2px #888888;
}

.topnav {
    overflow: hidden;
    background-color: #666;
}

.topnav a {
    float: left;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a.active {
    background-color: #f2ad00;
    color: white;
}

body, p, h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

p {
    text-align: justify;
    margin: none;
}

h3 {
    font-size: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #666;
    border-bottom-width: 1px;
}

.content-box {
    float: none;
    display: inline-block;
    color: black;
    padding: 1em;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #666;
    width: 300px;
    height: 30em;
    margin: 20px;
    box-shadow: 1px 1px 2px 2px #888888;
}

h1 {
    border-bottom: 1px solid #000;
}

.content-box {
    padding: 1em;
    box-sizing: border-box;
}

.footer {
    background-color: #333;
    clear: both;
    position: absolute;
    left: 0;
    min-height: 60px;
    width: 100%;
    color: white;
}

@media (max-width: 769px) {
    .footer {
      position: relative;
    }
    #mapid {
        width: 40em;
    }
}

@media (max-width: 400px) {
    #mapid {
      width: 25em;
    }
}

@media (max-width: 350px) {
    #mapid {
      width: 20em;
    }
    .content-box {
        width: 20em;
    }
}

.contact-info {
    padding: 1em;
    margin: 0;
    display: inline-grid;
}

a {
    text-decoration: none;
    font-size: 16px;
    color:#a2a8b2;
}

.contact-info, h2 {
    color: #f2ad00;
    font-size: 24px;
}

p.white-text {
    color: white;
    text-align: left;
    font-size: 16px;
    height: 100%;
}


h1, h2 {
    font-weight: bold;
    overflow: inline;
}